<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nexrel.cleanup.weekly</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/cyclerun/Desktop/nexrel-crm/cleanup.sh</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>5</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/cyclerun/Desktop/nexrel-crm/cleanup.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/cyclerun/Desktop/nexrel-crm/cleanup.error.log</string>
    
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
